<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true">
    <rules>
        <!-- level 等于 -->
        <logger name="*"
                level="Trace"
                writeTo="TraceFile" />
        <logger name="*"
                level="Debug"
                writeTo="DebugFile" />
        <logger name="*"
                level="Info"
                writeTo="InfoFile" />
        <logger name="*"
                level="Warn"
                writeTo="WarnFile" />
        <logger name="*"
                level="Error"
                writeTo="ErrorFile" />
        <logger name="*"
                level="Fatal"
                writeTo="FatalFile" />


        <!-- 接口 -->
        <logger name="API"
                minlevel="Info"
                writeTo="APIFile" />

    </rules>
</nlog>