<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true">
	
	<targets async="true">

        <!-- level 等于 -->
        <target xsi:type="File"
                name="TraceFile"
				maxArchiveDays="${maxArchiveDays}"
				encoding="UTF-8"
				archiveNumbering="DateAndSequence"
				archiveFileName="${TraceFileArchive}"
                fileName="${TraceFile}"
                layout="${baselayout}"
                archiveAboveSize="${archiveAboveSize}" />
        <target xsi:type="File"
                name="DebugFile"
				maxArchiveDays="${maxArchiveDays}"
				encoding="UTF-8"
				archiveNumbering="DateAndSequence"
				archiveFileName="${DebugFileArchive}"
                fileName="${DebugFile}"
                layout="${baselayout}"
                archiveAboveSize="${archiveAboveSize}" />
        <target xsi:type="File"
                name="InfoFile"
				maxArchiveDays="${maxArchiveDays}"
				encoding="UTF-8"
				archiveNumbering="DateAndSequence"
				archiveFileName="${InfoFileArchive}"
                fileName="${InfoFile}"
                layout="${baselayout}"
                archiveAboveSize="${archiveAboveSize}" />
        <target xsi:type="File"
                name="WarnFile"
				maxArchiveDays="${maxArchiveDays}"
				encoding="UTF-8"
				archiveNumbering="DateAndSequence"
				archiveFileName="${WarnFileArchive}"
                fileName="${WarnFile}"
                layout="${baselayout}"
                archiveAboveSize="${archiveAboveSize}" />
        <target xsi:type="File"
                name="ErrorFile"
				maxArchiveDays="${maxArchiveDays}"
				encoding="UTF-8"
				archiveNumbering="DateAndSequence"
				archiveFileName="${ErrorFileArchive}"
                fileName="${ErrorFile}"
                layout="${baselayout}"
                archiveAboveSize="${archiveAboveSize}" />
        <target xsi:type="File"
                name="FatalFile"
				maxArchiveDays="${maxArchiveDays}"
				encoding="UTF-8"
				archiveNumbering="DateAndSequence"
				archiveFileName="${FatalFileArchive}"
                fileName="${FatalFile}"
                layout="${baselayout}"
                archiveAboveSize="${archiveAboveSize}" />

                
        <target xsi:type="File"
                name="APIFile"
				maxArchiveDays="${maxArchiveDays}"
				encoding="UTF-8"
				archiveNumbering="DateAndSequence"
				archiveFileName="${APIFileArchive}"
                fileName="${APIFile}"
                layout="${baselayout}"
                archiveAboveSize="${archiveAboveSize}"  />
	
	</targets>
</nlog>