<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true">
	<variable name="fileMinLevel"
              value="Off" />
	<variable name="LogDir"
              value="${basedir}/Logs" />

	<!--等级-->
	<variable name="TraceFile"
              value="${LogDir}/0Trace/Trace.html" />
	<variable name="DebugFile"
              value="${LogDir}/1Debug/Debug.html" />
	<variable name="InfoFile"
              value="${LogDir}/2Info/Info.html" />
	<variable name="WarnFile"
              value="${LogDir}/3Warn/Warn.html" />
	<variable name="ErrorFile"
              value="${LogDir}/4Error/Error.html" />
	<variable name="FatalFile"
              value="${LogDir}/5Fatal/Fatal.html" />

	<variable name="TraceFileArchive"
			value="${LogDir}/0Trace/archive/Trace-${shortdate}.html" />
	<variable name="DebugFileArchive"
              value="${LogDir}/1Debug/archive/Debug-${shortdate}.html" />
	<variable name="InfoFileArchive"
              value="${LogDir}/2Info/archive/Info-${shortdate}.html" />
	<variable name="WarnFileArchive"
              value="${LogDir}/3Warn/archive/Warn-${shortdate}.html" />
	<variable name="ErrorFileArchive"
              value="${LogDir}/4Error/archive/Error-${shortdate}.html" />
	<variable name="FatalFileArchive"
              value="${LogDir}/5Fatal/archive/Fatal-${shortdate}.html" />

	<!--天数-->
	<variable name="maxArchiveDays"
              value="7" />
	<!--archiveAboveSize="10485760"-->
	<variable name="archiveAboveSize"
              value="10485760" />


	<variable name="APIFile"
              value="${LogDir}/API/API.html" />
	<variable name="APIFileArchive"
              value="${LogDir}/API/archive/API-${shortdate}.html" />

	<!--输出-->
	<variable name="F1"
              value="[名称]:${callsite}${newline}" />
	<variable name="F2"
              value="[时间]:${longdate}${newline}" />
	<variable name="F3"
              value="[级别]:${level}${newline}" />
	<variable name="F4"
              value="[输入]:${event-properties:item=InputPara}${newline}" />
	<variable name="F5"
              value="[输出]:${event-properties:item=OutputPara}${newline}" />
	<variable name="F6"
              value="[备注]:${message}${newline}" />
	<variable name="F7"
              value="[接口]:${event-properties:item=DockSystem}${newline}" />

	<!--${F7}${F1}${F2}${F3}${F4}${F5}${F6}-->
	<variable name="baselayout"
              value="&lt;HR COLOR=red&gt;${F7}&lt;BR&gt;${F1}&lt;BR&gt;${F2}&lt;BR&gt;${F3}&lt;BR&gt;${F4}&lt;BR&gt;${F5}&lt;BR&gt;${F6}&lt;HR Size=1&gt;" />





</nlog>